body {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(39, 150, 184) , yellow, green, blue,orange);
  }
#username{
    margin: 49px;
    margin-top: 40px;
    position: absolute;
    font-size: 29px;
    font-style: italic;
    font-family: monospace;
    color: blue;
}
#age{
    margin: 49px;
    margin-top: 40px;
    position: relative;
    font-size: 29px;
    font-style: italic;
    /* font-family: monospace; */
    color: blue;
}
img{
    border: 9px solid red;
    width:250px;
    border-radius: 20%;
    margin: 30px;
}